{#<!--
Gibbon: the flexible, open school platform
Founded by Ross Parker at ICHK Secondary. Built by Ross Parker, Sandra Kuipers and the Gibbon community (https://gibbonedu.org/about/)
Copyright © 2010, Gibbon Foundation
Gibbon™, Gibbon Education Ltd. (Hong Kong)

This is a Gibbon template file, written in HTML and Twig syntax.
For info about editing, see: https://twig.symfony.com/doc/2.x/
-->#}

<!-- <div class="border rounded bg-gray-100 my-4 h-full"> -->
    <div class="px-3 py-4 flex items-start">
        <div class="w-24 text-left leading-compact">

            <div class="w-24 overflow-hidden mb-4">
                <img class="block w-64" alt="{{ organisationNameShort }}" src="{{ absoluteURL }}/{{ organisationLogo|default("/themes/Default/img/logo.png") }}" width="400"/>
            </div>

            <p style="font-size: 5pt;">
                {{ contactAddress|nl2br }}
            </p>
        </div>

        <div class="ml-4 text-left text-gray-700" style="font-size: 10pt;">

            <span class="font-bold">{{ organisationName }}</span><br/>
            Phone: {{ contactPhone }}<br/><br/>

            <span class="font-normal">{{ event }}</span><br/><br/>

            <span class="font-bold">Trip Leader: {{ lead }}</span><br/>
            {% if leadPhone %}
                Phone: {{ leadPhone }}<br/>
            {% endif %}
            
        </div>

    </div>
<!-- </div> -->
